body{
    background-color: white;
    font-family: Roboto;
}
.wrapper{
    margin-bottom:-80px;
}
.title-text{
    height:75px;
    position: relative;
    left: 20px;
    top: -100px;
    margin-bottom:-200px;
    display: block;
    margin:auto
}
.subtitle-text{
    height:50px;
    position: relative;
    left: 20px;
    top: -100px;
    margin-bottom:-200px;
    display: block;
    margin:auto
}

.headtext{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
div.TrendingProducts{
    padding-inline:10px;
    border: 0px solid white;
    overflow: auto;
    white-space: nowrap;
    background-color: rgb(237, 232, 243);
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    border-radius: 16px;
    background-color: #dddddd;
}
div.TrendingProducts:hover{
    cursor:grab;
}
.TrendingProducts-image{
    padding: 5px;
    border-radius: 16px;
    border-radius: 0px solid white;
    image-rendering: optimizeSpeed;
    transition: all 200ms cubic-bezier(0, 0.575, 0.565, 1.5);
}
.TrendingProducts-image:hover {
    filter: blur(6px) brightness(1.2) contrast(0.7) saturate(1.1);
    transform: scale(0.96);
    transition: all 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.TrendingProducts-name {
    text-align: center;
    font-size: 26px;
}
.marqi {
    width: 100%;
    padding: 6px;
    background-color: yellow;
    margin-bottom: 10px;
}
.sampleText {
    animation: 1s sm linear infinite;
    width: fit-content;
    font-family: Roboto;
}
b {
    font-family: Inter Regular;
}

@keyframes sm {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(100vw);
    }
}
